body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#board {
  background: url(../images/board.svg) no-repeat top left;
  background-size: contain;
  position: relative;
  width: 30vw;
  height: 30vw;
  padding: 0;
  margin: 1em;
  cursor: pointer;
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.stone {
  position: absolute;
  /*board width/19 = 30vw/19 = 1.58vw*/
  width: 1.58vw;
  height: 1.58vw;
  padding: 0;
  margin: 0;
  transition: all .2s;
}

/* white stones (set background image) */

.white {
  background: url(../images/white.svg) no-repeat top left;
  background-size: contain;
}

.blue {
  background: url(../images/blue.svg) no-repeat top left;
  background-size: contain;
}

/* black stones (set background image) */

.black {
  background: url(../images/black.svg) no-repeat top left;
  background-size: contain;
}

#hoverStone {
  opacity: .5;
  display: none;
}

#placedStone {
  display: none;
}

#gamesList {
  padding: 1em;
}

/* navbar */

.navbarStyle {
  padding: .5em 0 0 .5em;
  background-color: #232529;
}

/* non-active tabs */

.nav-item a {
  color: #EBEAE7;
  transition: all .2s;
}

/* active tab */

.nav-item a.active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  !important;
}

#gamesList {
  max-height: 80%;
  overflow: scroll;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.loader {
  display: none;
  position: absolute;
  border: 3px solid rgba(0, 0, 0, 0.7);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  bottom: 2em;
  left: 2em;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
