#board {
  background: url(../images/board.svg) no-repeat top left;
  background-size: contain;
  position: relative;
  width: 50vw;
  height: 50vw;
  padding: 0;
  margin: 0;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.stone {
  position: absolute;
  width: 2.7vw;
  height: 2.7vh;
}

.white {
  background: url(../images/white.svg) no-repeat top left;
  background-size: contain;
}

.black {
  background: url(../images/black.svg) no-repeat top left;
  background-size: contain;
}

#hoverStone, #placedStone {
  display: none;
}

#gamesList {
  padding: 1em;
}
